body {
    /* background ng body ay yung DALAWA GRADIENT */
    background: 
        /* 1. Gradient #FFB697 (Top Right, 100% sakop) */
        radial-gradient(
            circle at top right,
            rgb(224, 143, 108) 50px,
            rgba(255, 182, 151, 0) 100%
        ),
        
        /* 2. Gradient #F7EEFF (Bottom Left, 20% sakop) */
        radial-gradient(
            circle at bottom left,
            rgba(247, 238, 255, 0.322) 100%,
            rgba(247, 238, 255, 0) 100%
        );
        
    position: relative;
    z-index: 1; /* para nasa ibabaw ng image */
    min-height: 100vh;
    margin: 0; 
    background-repeat: no-repeat;
}

/* --- CODE PARA SA IMAGE (Gagamitin yung ::before pseudo-element) --- */
body::before {
    /* mandatory para gumana yung ::before */
    content: ''; 
    /* gawing sakop yung buong body area */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    /* yung bg image na nilagay sa background ng ::before */
    background-image: url("https://i.imgur.com/L2GF1wk.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    /* applying yung 3% opacity */
    opacity: 0.025; /* 3% of 1.0 */
    
    /* pansure para yung image nasa likod ng body content */
    z-index: -1;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    
    /* para mawala yung scrollbar at gawing 100% ng viewport yung height */
    height: 100vh; 
    overflow: hidden; /* pinipigilan uyung scrolling */
    margin: 0; 
    background-color: #fac1a952;
    
    /* ginagamit para yung body bilang Flex Container para sa buong page content */
    display: flex;
    flex-direction: column; /* i-stack ang content pababa */
    justify-content: space-between; /* itulak ang Hero at Menu Section sa dulo */
}

.hero-section {
    padding: 80px 50px 0 100px; /* Padding: itaas, kanan, ibaba, kaliwa */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* --- LOGO/BRAND NAME --- */
.logo {
    color: #FF7E5F;
    font-weight: 600; /* Semi-Bold */
    font-size: 20px;
    padding: 10px 25px;
    border: 1px solid rgba(228, 90, 49, 0.3); /* Light border */
    border-radius: 20px;
    width: fit-content; /* para saktong-sakto ang box sa text */
    margin-bottom: 120px; /* layo sa Heading */
    margin-left: 70px;
}
